.browse-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    /* overflow: hidden; */
}

.banner{
    height: 650px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url('/public/image/main/banner.jpg') no-repeat;
    background-size: cover;
    border-bottom: 4px solid #303030;
}

.bannerText{
    color: #fff;
    padding-top: 200px;
    padding-left: 50px;
}

.banner-btn{
    width: 100px;
    height: 40px;
    background-color: #e50914;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: transparent;
    outline: transparent;
}

.banner-btn:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.titlemovie{
    margin: 0;
    font-size: 4rem;
}

.desc{
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    width: 50%;
}
